.article{
    background: rgb(175, 203, 185);
    border: 1px solid black;
    margin: 10px;
    padding-top: 20px;
    display: inline-block;
    align-items: center;
    width: 40vw;
    border-radius: 3px;
}